@import "tailwindcss";

@theme {
  --color-indigo-50: #f8f5ff;
  --color-indigo-100: #ebdcff;
  --color-indigo-200: #d7c3ff;
  --color-indigo-300: #c39bff;
  --color-indigo-400: #aa7dff;
  --color-indigo-500: #915eff;
  --color-indigo-600: #7846eb;
  --color-indigo-700: #5f2dd7;
  --color-indigo-800: #4614b9;
  --color-indigo-900: #2d0a91;
  --color-indigo-950: #19055f;
}

@layer base {
  body {
    @apply bg-[#09090b] text-zinc-100 antialiased selection:bg-indigo-500/30 selection:text-white;
  }
}

/* Custom radial gradients */
.bg-radial-gradient {
  background-image: radial-gradient(circle at center, var(--tw-gradient-from) 0%, var(--tw-gradient-via) 40%, var(--tw-gradient-to) 100%);
}
